.popover__container {
  position: absolute;
  display: none;
  z-index: 9999;
  width: 128px;
  height: 70px;
  background-color: #fff;
  left: -50px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.popover__container-span{
  display: block;
  height: 35px;
  line-height: 35px;
  color:#000;
  margin-left: 10px;
  font-size:13px;
  font-weight: 400;
}
.popover__container li:hover{
  background-color:#d7e9ea;
}