.postCard__container {
  display: flex;
  margin-bottom: 20px;
  
}
.postCard__header {
  .userId {
  font-size: 14px;
  color: #444;
  }
  margin-bottom: 13px;
}


.postCard {
  width: 540px;
  font-size: 14px;
  background: #fff;
  padding: 15px 20px 20px 20px;
  word-wrap: break-word;
  border-radius: 3px;

}

.postCard__heading {
  margin-top: 0;
  font-size: 36px;
  line-height: 47px;
  margin-bottom: 10px;
}

.postCard__bodyText {
  p {
    margin: 0;
  }
}

.postCard__footer {
  display: flex;
  justify-content: space-between;
}
.postCard__buttons {
  width: 132px;
  display: flex;
  justify-content: space-between;
}

.postCard__button {
 a {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 24px;
   height: 24px;
 }
 i {
    font-family: tumblr-icons,Blank;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    display: inline-block;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #8f8f8f;
    margin-top: -1px;
  }
 
}

.postCard__icon-share {
 &::before {
    content: '\EA02';
    display: inline-block;
    line-height: 1;
  }
}

.postCard__icon-reply {
 &::before {
    content: '\EA96';
    display: inline-block;
    line-height: 1;
  }
}

.postCard__icon-reblog {
 &::before {
    content: '\EA8F';
    display: inline-block;
    line-height: 1;
  }
}

.postCard__icon-options {
  position: relative;
 &::before {
    content: '\EA9A';
    display: inline-block;
    line-height: 1;
  }
}

