.searchFrom {
    max-width: 540px;
    margin-right: 16px;
    position: relative;
    padding-left: 3px;
    min-width: 200px;
}


.searchFrom__input {
    box-sizing: border-box;
    transition: background .15s,color .15s;
    color: hsla(0,0%,100%,.6);
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 39px;
    background: rgba(0,0,0,.13);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    height: 34px;
    width: 100%;
    border: 0;
    border-radius: 3px;
   
}

.searchFrom__button {
  position: absolute;
  border: none;
  background: url(../../../assets/images/search.png)  no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 8px;
  left: 14px
}