.logo {
  margin: 0;
  margin-right: -3px;
  // background: #000;
}

.logoLink {
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 18px;
  padding-left: 2px;  
  
  img {
    max-width: 100%;
  }
}


.avatar {
  width: 64px;
  height: 64px;
  border-radius: 3px;
  margin-right: 21px;
  background: #000;
}