@font-face {
    font-family: "Gibson-SemiBold";
    font-style: normal;
    font-weight: 300;
    src: local("Gibson-SemiBold"),
    url("./assets/fonts/Gibson-SemiBold-webfont.woff") format("opentype");
}

@font-face {
    font-family: "Tumblr-Icons";
    font-style: normal;
    font-weight: 400;
    src: local("tumblr-icons"),
    url("./assets/fonts/tumblr-icons_1a292352282f4fc706b9015c01cab89b.woff2") format("opentype");
}